//- 
 * index.pug
 *
 * Defines the layout for the index page of the application
 * Author: Abner Castro
 * Date: April 07th, 2017
 */

extends layout

block content
    .title Hello World!
    .content Welcome to this application on Heroku. Check out some quotes.
    //- Quotes
    div(class="quote-container")
        div(ng-repeat="quote in vm.quotes")
            ul(class="list-unstyled")
                li(class="quote") {{quote.content}} - {{quote.author}}
